:root {
  --background-body: #f2f3f6;
  --background-card: #f2f3f6;
  --text-white: #FFFFFF;
  --text-gray: #443f3f;
  --text-dark-gray: #363232;
  --text-orange: #FF9800;
  --text-blue: #0a2fff;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body {
  min-height: 100vh;
  color: var(--text-dark-gray);
  background: var(--background-body);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h2, p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-dark-gray);
}